<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  function add_to_cart(product_id, user_id) {
    let csr = $("input[name=csrfmiddlewaretoken]").val();
    if ($(".product_count input").val()) {
      console.log($(".product_count input").val());
      var cart_quantity = $(".product_count input").val();
    } else {
      cart_quantity = 1;
    }

    // console.log("product id", product_id);
    // console.log(user_id);
    // console.log(cart_quantity);

    cart = {
      product_id: product_id,
      user_id: user_id,
      cart_quantity: cart_quantity,
      csrfmiddlewaretoken: csr,
    };
    
    $.ajax({
      url: "{% url 'products:add_to_cart' %}",
      method: "POST",
      data: cart,
      success: function (data) {
        if (data.status == "save") {
          console.log("saved");
          var title = data.title
          var message = data.message
          var position = data.position
          var duration = data.duration
          var theme = data.theme
          var closeOnClick = data.closeOnClick
          var displayClose = data.displayClose
          window.createNotification({
            closeOnClick: closeOnClick,
            displayCloseButton: displayClose,
            positionClass: position,
            showDuration: duration,
            theme: theme
          })({
            title: title,
            message: message
          });
        } else {
          console.log("error");
          var title = data.title
          var message = data.message
          var position = data.position
          var duration = data.duration
          var theme = data.theme
          var closeOnClick = data.closeOnClick
          var displayClose = data.displayClose
          window.createNotification({
            closeOnClick: closeOnClick,
            displayCloseButton: displayClose,
            positionClass: position,
            showDuration: duration,
            theme: theme
          })({
            title: title,
            message: message
          });
        }
      },
    });
  }

  // function update_cart(product_id, user_id){
  //   console.log("update_cart");
  //   // console.log(this.val());
  //   console.log($(this).val());
  //   // let csr = $("input[name=csrfmiddlewaretoken]").val();
  //   // if ($(".product_count input").val()) {
  //   //   console.log($(".product_count input").val());
  //   //   var cart_quantity = $(".product_count input").val();
  //   // } else {
  //   //   cart_quantity = 1;
  //   // }

  //   // cart = {
  //   //   product_id: product_id,
  //   //   user_id: user_id,
  //   //   cart_quantity: cart_quantity,
  //   //   csrfmiddlewaretoken: csr,
  //   // };
  // }

  function update_cart(){
    data = {}
    $(".product_count").each(function(){
      // console.log($(this).data("product_id"));
      // console.log($(this).data("user"));
      // // console.log(this);
      // console.log($(this).children('#sst').val());
      tmp = {product_id: $(this).data("product_id"), 
            user_id: $(this).data("user"),
            cart_quantity: $(this).children('#sst').val()}
      data[$(this).data("product_id")] = tmp;
    })

    let csr = $("input[name=csrfmiddlewaretoken]").val();
    data['csrfmiddlewaretoken'] = csr
    console.log(data);

    $.ajax({
      url: "{% url 'products:update_cart' %}",
      method: "POST",
      data: data,
      success: function (data) {
        if (data.status == "save") {
          console.log("saved");
          var title = data.title
          var message = data.message
          var position = data.position
          var duration = data.duration
          var theme = data.theme
          var closeOnClick = data.closeOnClick
          var displayClose = data.displayClose
          window.createNotification({
            closeOnClick: closeOnClick,
            displayCloseButton: displayClose,
            positionClass: position,
            showDuration: duration,
            theme: theme
          })({
            title: title,
            message: message
          });
        } else {
          console.log("error");
          var title = data.title
          var message = data.message
          var position = data.position
          var duration = data.duration
          var theme = data.theme
          var closeOnClick = data.closeOnClick
          var displayClose = data.displayClose
          window.createNotification({
            closeOnClick: closeOnClick,
            displayCloseButton: displayClose,
            positionClass: position,
            showDuration: duration,
            theme: theme
          })({
            title: title,
            message: message
          });
        }
      },
    });
  }

  function update_single_cart_item(){
    console.log(this);
  }
</script>
