{% extends 'base.html' %} 
{% load static %}
{% block content %}

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href={% url 'products:homepage' %}>Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% csrf_token %}
                            {% for product in cart_product %}

                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src={{ product.prod_images }} alt="" style="height: 2cm; width: 2cm;">
                                        </div>
                                        <div class="media-body">
                                            <p>{{ product.prod_name }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5><i class="fa fa-inr" aria-hidden="true"></i> {{ product.prod_price }}</h5>
                                </td>
                                <td>
                                    <h5>{{ product.cart_quantity }}</h5>

                                    <!-- <div class="product_count" data-product_id={{product.product_id}} data-user={{request.user.id}}>
                                        <input type="text" onchange="update_single_cart_item()" data-product_id={{product.product_id}} data-user={{request.user.id}} name="qty" id="sst" maxlength="12" value={{ product.cart_quantity }} title="Quantity:" class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                        class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                        class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                    </div> -->
                                </td>
                                <td>
                                    <h5> {{ product.total_price }}</h5>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr class="bottom_button">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <div class="cupon_text d-flex align-items-center">
                                        <input type="text" placeholder="Coupon Code">
                                        <a class="primary-btn" href="#">Apply</a>
                                        <a class="gray_btn" >Update Cart</a>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5>{{ sub_total }}</h5>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td>
                                    <h5>Address </h5>
                                </td>
                                <td colspan="4">
                                    <div class="align-items-right">
                                    <select>
                                        {% for adr in address %}
                                        <option value={{adr.pk}}>{{ adr.address_line_1 }}, {{ adr.address_line_2 }}, {{ adr.city }}, {{adr.zip_code }}, {{ adr.state }}, {{ adr.country }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td></td>
                                <td></td>
                                <td></td>

                                <td colspan="3">
                                    <div class="checkout_btn_inner d-flex align-items-rignt">
                                        <a class="gray_btn" href={% url 'products:shoppage' %}>Continue Shopping</a>
                                        <a class="primary-btn" href={% url 'users:select_address' %}>Proceed to checkout</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->

{% include 'ajax.html' %}
{% endblock content %}