{% extends 'base.html' %} 
{% load static %}
{% block content %}

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href={% url 'products:homepage' %}>Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in cart_product %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src={{ product.prod_images.url }} alt="" style="height: 2cm; width: 2cm;">
                                        </div>
                                        <div class="media-body">
                                            <p>{{ product.prod_name }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5><i class="fa fa-inr" aria-hidden="true"></i> {{ product.prod_price }}</h5>
                                </td>
                                {% for cart_price in cart_price %}
                                {% if cart_price.cart_id == product.id%}
                                    <td>
                                        <div class="product_count">
                                            <input type="text" name="qty" id="sst" maxlength="12" value={{ cart_price.cart_quantity }} title="Quantity:"
                                                class="input-text qty">
                                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                                class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                                class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                        </div>
                                    </td>
                                    <td>
                                        <h5><i class="fa fa-inr" aria-hidden="true"></i>{{cart_price.total_price}}</h5>
                                    </td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Subtotal</h5>
                                    <h5>GST 18%</h5>
                                    <h5>Grand Total</h5>
                                </td>
                                <td>
                                    <h5>{{ sub_total }}</h5>
                                    <h5>{{ gst }}</h5>
                                    <h5>{{grand_total}}</h5>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" href={% url 'products:shoppage' %}>Continue Shopping</a>
                                        <a class="primary-btn" href="#">Proceed to checkout</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
{% endblock content %}