<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table border="1">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        {% for product in cart_product %}
        <tr>
            <td>
                <p>{{product.prod_name }}</p>
            </td>
            <td>
                <h5>{{product.cart_quantity}}</h5>
            </td>
            <td>
                <p>RS.{{product.total_price}}</p>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <p>Total</p>
            </td>
            <td>
                <p>{{ total_items }}</p>
            </td>
            <td>
                <p>RS.{{grand_total}}</p>
            </td>
        </tr>
    </table>
    <h3>Order details</h3>
        <p>
            Order number: {{ order.id }}<br>
            Date: {{order.order_date_time}}<br>
            Total: RS {{ order.total_amount }}<br>
            Payment method:  Cash On Delivery<br>
        </p>
        <h3>Delivery Address</h3>
        <p>
            Street : {{address.address_line_1}}, {{ address.address_line_2 }} <br>
            City : {{address.city}}, {{address.state}} <br>
            Country : {{address.country}} <br>
            Postcode : {{address.zip_code}} <br>
            Mobile : {{address.mobile_number}}, {{address.alternative_mobile_number}} <br>
        </p>
</body>
</html>