{% extends 'base.html' %} 
{% load static %}
{% block content %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>{{brand_name}}</h1>
					<nav class="d-flex align-items-center">
						<a href={% url 'products:homepage' %}>Home<span class="lnr lnr-arrow-right"></span></a>
						<!-- <a href={% url 'products:shoppage' %}>Shop<span class="lnr lnr-arrow-right"></span></a> -->
						<a href=''>{{brand_name}}</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					<div class="head">Browse Categories</div>
					<ul class="main-categories">
						{% for brand in brand_product %}
						<li class="main-nav-list"><a href={% url 'products:filter_by_brand' brand.id %}><span
								 class="lnr lnr-arrow-right"></span>{{brand.brand}}<span class="number">({{ brand.product_count }})</span></a>
						</li>
						{% endfor %}						
					</ul>
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">

						{% if custom_message %}
							<h1>{{custom_message}}</h1>
						{% endif %}

						<!-- single product -->
						{% for product in products %}
						<a href={% url 'products:product_details' product.id %}>
							<div class="col-lg-4 col-md-6">
								<div class="single-product">
									<img class="img-fluid" src={{ product.prod_images.url }} alt="" style="height: 6.7cm;">
									<div class="product-details">
										<h6>{{ product.prod_name }}</h6>
										<div class="price">
											<h6><i class="fa fa-inr" aria-hidden="true"></i> {{ product.prod_price }}</h6>
										</div>
										<form action="" method="post">
											{% csrf_token %}
											<div class="prd-bottom">
												<label value={{ product.id }} id="product_id"></label>
												<label value={{ request.user.id }} id="user_id"></label>
												<a id="add_to_cart" class="social-info" >
													<span class="ti-bag"></span>
													<p class="hover-text">add to bag</p>
												</a>
											</div>
										</form>
									</div>
								</div>
							</div>
						</a>
			  			{% endfor %}
					</div>
				</section>
				<!-- End Best Seller -->
			</div>
		</div>
	</div>


{% include 'ajax.html' %}
{% endblock content %}