{% extends 'base.html' %} 
{% load static %}
{% block content %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Product Details</h1>
					<nav class="d-flex align-items-center">
						<a href={% url 'products:homepage' %}>Home<span class="lnr lnr-arrow-right"></span></a>
						<a href={% url 'products:shoppage' %}>Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="">product-details</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				{% for product in product_details %}
				<div class="col-lg-6">
					<div class="single-prd-item">
						<img class="img-fluid" src={{ product.prod_images.url }} alt="" style="height: 15cm;">
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						
						<h3>{{ product.prod_name }}</h3>
						<h2><i class="fa fa-inr" aria-hidden="true"></i> {{ product.prod_price }}</h2>
						<ul class="list">
							<li><a class="active" href="#"><span>Category</span> : {{product_category.main_category}}</a></li>
							{% if product.quantity >= 1 %}
								<li><a href="#"><span>Availibility</span> : In Stock</a></li>
							{% else %}
								<li><a href="#"><span>Availibility</span> : Out of Stock</a></li>
							{% endif %}
						</ul>
						<p>{{product.prod_description}}</p>
						<form action="" method="post">
							{% csrf_token %}
							<div class="product_count">
								<label for="qty">Quantity:</label>
								<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
								<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
								class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
								<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
								class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
							</div>
							<div class="card_area d-flex align-items-center">
								<label value={{ product.id }} id="product_id"></label>
								<label value={{ request.user.id }} id="user_id"></label>
								<a class="primary-btn" id="add_to_cart">Add to Cart</a>
							</div>
						</form>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

	<section class="product_description_area">
	</section>
	<script></script>
{% include 'ajax.html' %}
{% endblock content %}