{% extends 'base.html' %} 
{% load static %}
{% block content %}


<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Login</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Login</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="login_form_inner">
				<h3>Log in to enter</h3>
				<form class="row login_form" action="" method="POST">
					{% csrf_token %}
					<div class="col-md-12 form-group">
						<input type="text" class="form-control" id="name" name="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
					</div>
					<div class="col-md-12 form-group">
						<input type="password" class="form-control" id="name" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
					</div>
					<div class="col-md-12 form-group">
						<button type="submit" value="submit" class="primary-btn">Log In</button>		
					</div>
				</form>

				{% for message in messages %}
					<p id='messages'>{{message}}</p>
				{% endfor %}

				<label >Don't have an account <a href={% url 'register' %}>Register here</a></label>
			</div>
		</div>

	</section>
	<!--================End Login Box Area =================-->

{% endblock content %}